body{
background-color:paleturquoise;
text-align: center;
}
h1{
    font-family: 'Press Start 2P', cursive; 
    font-size: 40px;
    margin-bottom: 5%;
}
button{
    height:200px;
    width: 200px;
    border-radius: 20%;  
    margin-left: 5%;
    margin-bottom: 3%;
    border: 10px solid black;

}

  #red{
    background-color: red;
  }
  
  #green {
    background-color: green;
  }
  
  #blue {
    background-color: blue;
  }
  
  #yellow {
    background-color: yellow;
  }
  .pressed {
    box-shadow: 0 0 20px black;
    background-color: black;
  }
  .game-over{
    background-color: red;

  }